
// Badges
// -------------------

// Override the Badge styles found in atom

@badge-background-color: @background-color-selected;

.badge {
  padding-right: 7px;
  padding-left: 7px;
  color: @text-color;
  background-color: @badge-background-color;
  border-radius: 30em;
  font-weight: 700;
  &.badge-flexible {
    border-radius: 30em;
  }
  &:hover {
    background-color: darken(@badge-background-color, 10%);
  }
  &.badge-success {
    &:hover {
      background-color: darken(@background-color-success, 10%);
    }
  }
  &.badge-warning {
    &:hover {
      background-color: darken(@background-color-warning, 10%);
    }
  }
  &.badge-error {
    &:hover {
      background-color: darken(@background-color-error, 10%);
    }
  }
}
