.scrollbars-visible-always /deep/ ::-webkit-scrollbar {
  width: 6px;
  height: 6px;

  &-track {
    background-color: transparent;
  }

  &-thumb {
    background-color: fadeout(@light-tone, 50%);
    border-radius: 3px;

    &:hover {
      background-color: @light-tone;
    }

    &:window-inactive {}
  }
}

.scrollbar-corner {
    display: none;
}
