// Displays selectable tabs above the editor.
// Overrides: atom/tabs

@tab-height: 30px;

.tab-bar {
  margin: 6px;
  padding: 0;

  .tab:not(:last-child) {
    margin-right: 6px;
  }

  .tab {
    height: @tab-height;
    line-height: @tab-height;
    color: fadeout(@light-tone, 70%);
    font-size: 1rem;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: fadeout(@light-tone, 30%);
      background-color: rgba(255,255,255,0.1);
    }

    &.active {
      color: @light-tone;
    }

    // ------------------------------------------------ "close" icon (the cross)

    .close-icon {
      top: 7px;
      right: 6px;
      width: 16px;
      height: 16px;
      color: @light-tone;
      opacity: 0;
      transition: opacity 0.3s;
      border-radius: 3px;

      &::before {
        width: 16px;
        height: 16px;
        display: block;
        text-align: center;
      }
    }

    &:hover .close-icon {
      opacity: 1;

      &:hover {
        background-color: @accent;
      }
    }

    // -------------------------------------------- "modified" icon (the circle)

    &.modified:not(:hover) .close-icon {
      left: 0;
      opacity: 1;
      border-color: @accent;
      background-color: @accent;
    }

    &.modified:hover .close-icon {
      color: @light-tone;
    }

    // -------------------------------------------------------- "dragging a tab"

    &.is-dragging {
      background: darken(@tab-background-color, 10%);
      border-color: transparent;
      opacity: .5;

      & .close-icon {
        visibility: hidden;
      }
    }
  }
}

// --------------------------------------------------------- main editor tab bar

atom-workspace-axis.vertical > atom-pane-container.panes .tab-bar {
  margin: 6px 20px 0 20px;
  transition: opacity 0.3s;

  .tab {
    opacity: 0;
  }

  &:hover .tab {
    opacity: 1;
  }

  .tab.active {
    opacity: 1;
  }
}
