
// Tabs
// -------------------

// Displays selectable tabs above the editor.
// Overrides: atom/tabs

.tab-bar {
  background-color: @tab-bar-background-color;
  border-bottom: 0;
  padding-bottom: 5px;

  .tab {
    color: @text-color;
    height: @tab-height * 1.2;
    line-height: @tab-height;
    font-size: @font-size;
    background-color: @tab-bar-background-color;
    border-bottom: 3px solid transparent;
    transition: .3s border-bottom ease-out;
    .title::before {
      margin-top: 6px;
    }
    &.active {
      color: lighten(@tab-background-color-active, 15%);
      border-bottom: 3px solid @tab-background-color-active;
      &:hover {
        border-bottom-color: lighten(@tab-background-color-active, 10%);
      }
    }

    &:hover {
      border-bottom-color: lighten(@tab-background-color-active, 10%);
      cursor: pointer;
    }

    // Modified Icon (the circle) -------------------
    &.modified:not(:hover) .close-icon {
      top: 50%;
      right: @component-padding + 4px; // 4px -> half of icon size
      margin-top: -3px;
    }
    &.modified:hover .close-icon {
      color: @text-color-warning;
    }


    // Close Icon (the X) -------------------
    .close-icon:hover {
      color: lighten(@text-color-success, 10%);
    }
    &.active .close-icon:hover {
      color: lighten(@text-color-success, 15%);
    }


    // Dragging -------------------
    // Styles get applied while dragging a tab
    &.is-dragging {
      background: light(@tab-background-color, 10%);
      border-color: transparent;
      opacity: .7;
      & .close-icon {
        visibility: hidden;
      }
    }
  }
}
