
// UI Variables
// -------------------

// These are the official UI variables that every UI theme should define.
// It allows other packages to match your theme.

// Overrides: atom/static/variables/ui-variables.less

// Try to edit some of the values below to see your theme change.
// A good start is to change the color of the `@base-background-color` variable.


// Text Colors
@text-color:           #fafafa; // pf-black-100
@text-color-subtle:    hsl(0,0%,50%);
@text-color-highlight: #00b9e4; // pf-light-blue-400
@text-color-selected:  #beedf9; // pf-light-blue-100

@text-color-info:    #5bc0de; // light-blue
@text-color-success: #5cb85c; // green
@text-color-warning: #f0ad4e; // yellow
@text-color-error:   #a30000; // red

// Background colors
@background-color-info:    #5bc0de;
@background-color-success: #5cb85c;
@background-color-warning: #f0ad4e;
@background-color-error:   #a30000;

@background-color-highlight: #def3ff;
@background-color-selected:  #0088ce;
@app-background-color:       #004368;

// Base colors
@base-background-color: #002235;
@base-border-color:     darken(@base-background-color, 8%);

// Component colors
@pane-item-background-color: @base-background-color;
@pane-item-border-color:     @base-border-color;

@input-background-color: @app-background-color;
@input-border-color:     @base-border-color;

@tool-panel-background-color: @base-background-color;
@tool-panel-border-color:     @base-border-color;

@inset-panel-background-color: lighten(@base-background-color, 4%);
@inset-panel-border-color:     @base-border-color;

@panel-heading-background-color: lighten(@base-background-color, 4%);
@panel-heading-border-color:     @base-border-color;

@overlay-background-color: lighten(@base-background-color, 5%);
@overlay-border-color:     @base-border-color;

@button-background-color:          lighten(@base-background-color, 10%);
@button-background-color-hover:    lighten(@button-background-color, 12%);
@button-background-color-selected: @button-background-color-hover;
@button-border-color:              @base-border-color;

@tab-bar-background-color:    #004368; // pf-blue-600
@tab-bar-border-color:        #00b9e4; // pf-light-blue-400
@tab-background-color:        #002235; // pf-blue-700
@tab-background-color-active: #0088ce; // pf-blue-400
@tab-border-color:            #00b9e4; // pf-light-blue-400

@tree-view-background-color: @base-background-color;
@tree-view-border-color:     #00b9e4; // pf-light-blue-400

// Site colors
@ui-site-color-1: #0088ce; // pf-blue-400
@ui-site-color-2: #5cb85c; // bootstrap green
@ui-site-color-3: #ec7a08; // pf-orange-400
@ui-site-color-4: #D831B0; // pink
@ui-site-color-5: #f5c12e; // pf-gold-300

// Sizes
@font-size: 12px;
@input-font-size: 14px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;

@tab-height: 30px;

// Misc
@component-border-radius: 2px;
@font-family: '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
